<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Mini Intro</title>
</head>

<body>

    <section id="app">
        {{message}}


        <p v-if="message !== 'bloup'" v-bind:id="message">Paragraphe</p>
        
        <div v-if="showList">
            <p v-for="item in tab">
                {{item}}
            </p>
        </div>

        <button v-on:click="showBloup()">click</button>
        <button v-on:click="toggleShow()">Toggle List</button>

        <input type="text" v-model="message">

    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>

</body>

</html>